:root {
  --largecolor: rgb(0, 0, 0);
  --textbackground: rgb(180, 180, 180);
  --h1-font: 60px;
  --p-font: 30px;
  --style-color: rgb(255, 116, 139);
}
#navbarNav {
  color: var(--largecolor);
  padding: 20px 100px;
}

#logo {
  font-size: 30px;
  transition: all 200ms;
}

#logo:hover {
  transform: translateY(-10px);
}

.logo-s {
  color: var(--style-color);
  padding: 20px 0 0 100px;
  font-weight: 800;
}

#container {
  display: flex;
  justify-content: space-between;
}

.link-p {
  text-decoration: none;
  font-weight: 600;
  color: var(--style-color);
  cursor: pointer;
  transition: all 200ms;
}
.link-p:hover {
  transform: translateY(-10px);
}

.home-img {
  border-radius: 50px;
}

.header-text {
  font-size: var(--p-font);
  padding: 30px;
}
