:root {
  --maincolor: rgb(0, 0, 0);
  --background: rgb(247, 242, 242);
  --h1-font: 60px;
  --p-font: 60px;
  --style-color: rgb(255, 116, 139);
}

#navbarNav {
  padding: 20px 250px;
  background: var(--background);
  font-size: 25px;
}

#navbarNav a {
  transition: all 200ms;
}

#navbarNav a:hover {
  transform: translateY(-10px);
  color: pink;
}

#logo {
  font-size: 30px;
  transition: all 200ms;
  background: var(--background);
  color: var(--maincolor);
}

#logo:hover {
  transform: translateY(-10px);
}

.logo-s {
  color: var(--style-color);
  padding: 20px 0 0 100px;
  font-weight: 800;
}

.link-p {
  text-decoration: none;
  font-weight: 600;
  color: var(--style-color);
  transition: all 200ms;
}
.link-p:hover {
  color: pink;
  cursor: pointer;
}

.header-text {
  font-size: var(--p-font);
}

.h1-style {
  padding: 0 0 50px 0;
  font-size: var(--h1-font);
}

.img-projects {
  border-radius: 15px;
  border: 1px solid pink;
  border-style: double;
  border-width: 15px;
  opacity: 80%;
}
.img-projects:hover {
  opacity: 100%;
}
